SecretSnap.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SecretSnap.xcworkspace/xcuserdata/egorilchenko.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SecretSnap.xcworkspace/xcuserdata/egorilchenko.xcuserdatad/UserInterfaceState.xcuserstate
SecretSnap.xcworkspace/contents.xcworkspacedata
SecretSnap.xcodeproj/xcuserdata/egorilchenko.xcuserdatad/xcschemes/xcschememanagement.plist
SecretSnap.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
SecretSnap.xcodeproj/project.xcworkspace/xcuserdata/egorilchenko.xcuserdatad/UserInterfaceState.xcuserstate
SecretSnap.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SecretSnap.xcodeproj/project.pbxproj
